*{
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	padding: 0;
	width: 960px;

	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	font-family: Varela Round,arial,sans-serif;
	font-size: 10px;
	color: darkgray;
	
}

ul, li, p{
	margin: 0;
	padding: 0;
}

p{ font-size: 1.5em; }

a{ 
	color: #666;
	text-decoration: none;
}

/* --------------- Header */
header{
	text-align: center;
}

h1.page-title {
	/* Site title */
	font-size: 5.5em;
	line-height: .5em;
	font-weight: lighter;
	text-transform: lowercase;
	letter-spacing: 1.5px;
	font-family: "Great Vibes";
}


/* --------------- Top Navigation  */
#menu-label{
	display: none;	/* Hide menu label for small screens */
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#top-nav{
	margin: 0px 0 30px 0;
	padding: 20px 0;
}

#top-nav a{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
	text-decoration: none;
}

#top-nav a:hover{
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
}

#top-nav ul{
	list-style-type: none;
}

#top-nav li{
	display: inline-block;
	margin-left: 30px;
}

#top-nav li:first-child{
	margin-left: 0px;
}



/* --------------- Sections */
#main-content{
	padding: 20px 0;
}

#main-image{
	background-color: lightgray;
	background-image: url('http://placebear.com/1280/300');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 250px;
}

#entries{
	margin: 20px 0px 50px 28px;
}

.entry{
	padding: 0 20px;
	margin-bottom: 60px;
	text-align: left;
}

.entry h3{
	color: #333;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

}

/* --------------- Footer */
footer{
	margin-top: 40px;
	display: block;
	clear: both;
	color: #888;
}

footer p{
	padding: 20px 0;
	background-color: #ededed;
	width: 100%;
}

/* --------------- Columns */
[class*='col-']{
	float: left;
}
.col-1{ width: 150px;}
.col-2{ width: 300px;}
.col-3{ width: 450px;}
.col-4{ width: 600px;}
.col-5{ width: 750px;}
.col-6{ width: 900px;}


